<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897166818033-aqeogijbd55ne855145d05eqna66vagc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897166818033-aqeogijbd55ne855145d05eqna66vagc</string>
	<key>API_KEY</key>
	<string>AIzaSyBgCWgMUNhHAxZSmjHhp-fNICsh92ViRNI</string>
	<key>GCM_SENDER_ID</key>
	<string>897166818033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aarish.Foreman</string>
	<key>PROJECT_ID</key>
	<string>foreman-cf287</string>
	<key>STORAGE_BUCKET</key>
	<string>foreman-cf287.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897166818033:ios:406bc8bbdcd7e9270dc750</string>
</dict>
</plist>